nav{
  background-color: rgb(138, 145, 236);
  font-weight: bolder
}
.navbar-brand{
  margin:auto 2% ;
}
.collapse{
   margin: auto 3%;
}
.navbar-toggler{
margin: auto 3%;
}
.nav-item{
  margin: auto 2%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}
.fill-remaining-space-tabs{
  flex: 0.1 auto;
}
